{% extends 'core/base.html' %} <!-- Rozszerza bazowy szablon HTML -->
<!-- Początek bloku tytułu -->
{% block title %} 
    {{item.name|capfirst}} 
{% endblock %} 
<!-- Koniec bloku tytułu -->

{% block content %} <!-- Początek bloku zawartości -->
    <div class="grid grid-cols-5 gap-6"> <!-- Kontener siatki dla szczegółów przedmiotu i powiązanych przedmiotów -->
        <div class="col-span-3"> <!-- Kontener dla obrazu przedmiotu -->
            <img src="{{item.image.url}}" class="rounded-xl" style="width: 100%; height: 500px;"> <!-- Obraz przedmiotu -->
        </div>
        <div class="col-span-2 p-6 bg-gray-100 rounded-xl"> <!-- Kontener dla szczegółów przedmiotu -->
            <h1 class="text-3xl font-bold">{{item.name}}</h1> <!-- Nazwa przedmiotu -->
            <p class="text-xl font-semibold text-gray-500">{{item.price}} $ </p> <!-- Cena przedmiotu -->
            <p class="text-lg font-semibold text-gray-500"><strong>Category: </strong>{{item.category}}</p> <!-- Kategoria przedmiotu -->
            <p class="text-lg font-semibold text-gray-500"><strong>Seller: </strong>{{item.created_by}}</p><br> <!-- Sprzedawca przedmiotu -->
            
            
            {% if item.description %} <!-- Jeśli przedmiot ma opis -->
                <p class="text-lg text-gray-700">
                    <strong class="text-gray-500 font-semibold">Description:</strong><br> <!-- Nagłówek "Description" -->
                    {{item.description}} <!-- Opis przedmiotu -->
                </p>
            {% endif %}
                
            <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold text-white bg-teal-500 rounded-xl hover:bg-teal-700">Contact seller</a> <!-- Przycisk "Contact seller" -->

            
            {% if request.user == item.created_by %}
                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold text-white bg-teal-500 rounded-xl hover:bg-teal-700">Edit item</a> <!-- Przycisk "Edit item" -->
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold text-white bg-red-500 rounded-xl hover:bg-red-700" onclick="confirmDelete(event);">Delete item</a>                
            {% endif %}
                
        </div>
    </div>
    <br>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl"> <!-- Kontener dla powiązanych przedmiotów -->
        <h2 class="mb-12 text-2xl text-center">Related Items</h2> <!-- Nagłówek "Related Items" -->
        
        <div class="grid grid-cols-3 gap-3"> <!-- Kontener siatki dla powiązanych przedmiotów -->
            {% for item in related_items %} <!-- Pętla przez powiązane przedmioty -->
            <div> <!-- Kontener dla pojedynczego powiązanego przedmiotu -->
                <a href="{% url 'item:detail' item.id %}"> <!-- Link do szczegółów powiązanego przedmiotu -->
                    <div>
                        <img src= "{{item.image.url}}" class="rounded-t-xl" style="width: 100%; height: 200px; object-fit: cover; display: block; margin: auto;"><!-- Obraz powiązanego przedmiotu -->
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{item.name}}</h2> <!-- Nazwa powiązanego przedmiotu -->
                        <p class="text-gray-500">Price: {{item.price}} $</p> <!-- Cena powiązanego przedmiotu -->
                    </div>
                </a>
            </div>
            {% endfor %} <!-- Koniec pętli przez powiązane przedmioty -->
        </div>
    </div>  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function confirmDelete(event) {
            event.preventDefault();
            var url = event.currentTarget.href;
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = url;
                }
            });
        }
    </script>
{% endblock %} <!-- Koniec bloku zawartości -->